body {
    margin: 0cm;
  font-family: 'Noto Sans display', sans-serif;
}

.cover{
    height: 400px;
    background-image: url(https://cdn.glitch.global/0da89a2b-c5e7-4ba3-b3d4-c286fa57d15a/margaritas.jpg?v=16490529);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: black;
    
}

.card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1) 0 2px 4px -1px rgba(0,0,0,0.06);
}

.cover-small{
    height: 300px;
    background-blend-mode: normal;
}

.card title{
    min-height: 3rem;
}

.card text{
    min-height: 10rem;
}

.stripe-container{
    display: flex;
    

}

.stripe-container .card{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.product-stripe{
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}